body{
	background: rgba(0,0,0,0.7);
}

p{
	position: absolute;
	left: -30px;
	bottom: -6px;
	font-size: 13px;
	background-color: #616161;
	color: white;
	padding: 3px;
	white-space: pre;
}

.side-bar{
	width: 300px;
	height: 100%;
	background: black;
	position: fixed;
	left: 0;
	top: 0;
	padding: 15px;
}

.graf{
	width: 100%;
	padding-left: 300px;
}

.panel{
	display: inline-block;
	position: relative;
	background: rgba(0,0,0,0.7);
	color: white;
	height: 300px;
	overflow-y: auto;
	text-align: center;
	margin-left: 300px;
	padding: 20px; 
}

.main{
	text-align: center;
	color: white;
	width: 100%;
	margin-top: 60px;
}

.cartesiano {
	position: relative;
	display: inline-block;
	border-left: 4px solid #616161;
	border-bottom: 4px solid #616161;
	margin: 30px;
	height: 300px;
	width: 300px;
	background-color:#ccc;
	/*background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;*/
	color: #616161;
	transform: scale(1);   /* Transformação original (escala 100%) */
	transform-origin: 0 0;
}

td{
	padding: 5px;
	text-align: center;
}

input[type="number"]{
	border-radius: 10px;
	padding: 5px;
}

input[type="button"]{
	padding: 5px 10px;
	border-radius: 5px;
}

div{
	color: white;
}

.dot{
	position: absolute;
	width: 8px;
	height: 8px;
	background: black;
	border-radius: 50%;
}

.cartesiano:before {
	content:"Y";
	position: absolute;
	top: 5px;
	left: 5px;
}

.cartesiano:after {
	content:"X";
	position: absolute;
	bottom: 4px;
	right: 7px;
}

.y300px {
	position: absolute;
	left: -35px;
	top: -10px;
}

.y200px {
	position: absolute;
	left: -35px;
	top: 90px;
}

.y100px {
	position: absolute;
	left: -35px;
	top: 190px;
}

.xy0 {
	position: absolute;
	left: -20px;
	top: 295px;
}

.x100px {
	position: absolute;
	bottom: -25px;
	left: 85px;
}

.x200px {
	position: absolute;
	bottom: -25px;
	left: 185px;
}

.x300px {
	position: absolute;
	bottom: -25px;
	left: 285px;
}

.tbl{
	display: inline-block;
	background: #ccc;
	margin-left: 30px;
}

.tbl table{
	position: relative;
	height: 300px;
	width: 300px;
}


.tbl table td{
	background: transparent;
	border: 1px solid darkgrey;
	padding: 0;
}
